body {
    background-color: #5172af;
}
:root {
    --container:600px
}
#container {
    grid-template-areas: 
    "aside main"
    "section section"
    "footer footer";
    display:grid;
    background-color: #f0f0fc;
    margin-top:30px;
    border-radius: 30px;
    padding:10px;
    box-shadow:0px 10px #4a5ba0;
    color:#25263a;
    gap:10px;
}
main {
    grid-area: main;
}
main div:first {
    height:210px;
    overflow: auto;
}
main img {
    width:100%
}
.contact {
    background-color: #c4dc82;
    border-radius: 20px;
    padding:10px;
    color:white;
    text-shadow:2px 2px#5ca991;
    display: flex;
    gap:20px;
    justify-content: center;
}
.contact i {
    font-size:30px;
}
h1 {
    font-family:acm_vga;
    font-weight: normal;
    margin-top:10px;
}
h3 {
    font-family:toshiba;
    font-weight: normal;
    margin-bottom:10px;
}
p {
    font-size:18px;
}
aside {
    grid-area:aside;
}
aside img {
    width:260px;
    height:260px;
    margin-top:35px;
}
section {
    grid-area:section
}
footer {
    grid-area:footer;
}