/*default style for pages*/
html, button {
    font-size: 14px;
    font-family: "MS UI Gothic", Tahoma, sans-serif
}
h1,h2,h3,h4,h5,h6,p,ul,li,body {
    margin: 0;
    padding:0;
}
* {
    paint-order: stroke fill;
    image-rendering: pixelated;
    box-sizing: border-box;
    scrollbar-width:none;
}
*::-webkit-scrollbar  {
  width:0;
}

iframe {
    width:100%;
    border:0;
}

.flex {
    display: flex;
}

#container {
    width:var(--container);
    margin-left: auto;
    margin-right:auto;
}