@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

h1,h2,h3,h4,h5,h6,p,figure,ul,li,body {
    margin: 0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
    font-family:"Comic Relief", "Comic Sans MS", cursive;
    font-weight:normal
}
body {
    font-size:18px;
    font-family:"Inter", "Tahoma", sans-serif
}
iframe {
    width:100%;
    border:0;
}
#container {
    width:var(--container);
    margin-left:auto;
    margin-right:auto;
}
* {
    paint-order: stroke fill;
}
a {
    color:inherit
}
.nhg {
    font-family:"BIZ UDPGothic"
}