body {
    background-color: #ffd23f;
}
:root {
    --container:800px;
}
#loading {
    background-color: #9e4c45;
}
#container {
    background-color: #f7f4ef;
    color:#353030;
    outline:2px solid;
    display: grid;
    grid-template-areas:
    "header"
    "section"
    "main"
    "footer";
    gap:10px;
    font-size:18px;
    padding:30px;
    border-radius:0px 0px 40px 40px;
    padding-bottom:0px
}
header {
    grid-area:header;
    height:200px;
    border-radius:30px;
    background-color: #ebe3db;
}
h1 {
    line-height:200px;
    text-align: center;
}
section {
    grid-area:section;
    gap:20px;
    margin-left:auto;
    margin-right:auto;
}
section img {
    width:280px;
    height:260px;
}
section div:last-of-type {
    margin-top:30px;
}
section p {
    width:300px;
}
main {
    grid-area:main;
    background-color: #ebe3db;
    padding:30px;
    border-radius:20px;
    text-align: center;
}
main h2 {
    margin-bottom: 10px;;
}
main .flex {
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content: center;
}
main img {
    width:100px;
    height:100px;
    border-radius: 10px;
    transition:0.2s;
    background-color: #f7f4ef;
}
main img:hover {
    scale:1.1;
    outline:5px solid #ffda34
}
footer {
    grid-area:footer;
    margin-top:10px;
}