body {
    background-color: #de4736;
}
h1 {
    color:white;
    -webkit-text-stroke: 4px black;
    font-size:30px;
    text-shadow:0px 5px black;
    text-align: center;
}
#buttonContainer {
    height:600px;
    width:600px;
    margin:auto;
}

#buttonContainer.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap:5px
}
#buttonContainer.flex .button {
    position: static;
  }
.button {
    position: absolute;
    border: 5px double black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    transition: 0.2s filter, 0.2s scale;
    filter: drop-shadow(2px);
    width: 80px;
    font-weight: bold;
    user-select: none;

}

.button:hover {
    filter: drop-shadow(0px 10px black);
    scale: 1.2;
    z-index: 99;
    cursor: grab;
    color:white;
    -webkit-text-stroke:3px black;
}

.button:active {
    cursor: grabbing
}

#header span {
    display: inline-block;
}