header {
    position: relative;
    animation: 0.5s headerLoad, 3s headerFloat infinite, headerRotate 30s infinite;
}

@keyframes headerLoad {
    0% {
        margin-top: -100px;
        scale: 1.2;
        rotate: 0deg
    }

    100% {
        margin-top: 0px
    }
}

@keyframes headerFloat {

    0%,
    100% {
        top: 5px;
    }

    50% {
        top: 0px
    }
}

@keyframes headerRotate {

    0%,
    100% {
        rotate: -2deg
    }

    50% {
        rotate: 2deg
    }
}

/*katakana hover events*/
header img {
    position: relative;
    transition: transform 1s, scale 0.2s, rotate 0.5s;
}

header img:nth-child(1) {
    transform: translateX(60px);
}

header img:nth-child(2) {
    transform: translateX(40px);
}

header img:nth-child(3) {
    transform: translateX(20px);
}

header img:nth-child(5) {
    transform: translateX(-20px);
}

header img:nth-child(6) {
    transform: translateX(-40px);
}

header img:nth-child(7) {
    transform: translateX(-60px);
}

header:hover img {
    transform: translateX(0);
}

header img:nth-child(1):hover {
    rotate: -20deg;
    scale: 1.2
}

header img:nth-child(2):hover {
    rotate: 30deg;
    scale: 1.3
}

header img:nth-child(3):hover {
    rotate: 10deg;
    scale: 1.5
}

header img:nth-child(4):hover {
    rotate: 30deg;
    scale: 1.3
}

header img:nth-child(5):hover {
    rotate: -380deg;
    scale: 1.4
}

header img:nth-child(6):hover {
    rotate: -20deg;
    scale: 1.2
}

header img:nth-child(7):hover {
    rotate: 30deg;
    scale: 1.3
}