body {
    background-color: #f12d2d;
}

#loading {
    background-color: blue;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
}

header img {
    position: relative;
    transition: 0.2s;
    filter: drop-shadow(5px 5px black);
}

header img:nth-child(even) {
    rotate: 5deg;
}

header img:nth-child(odd) {
    rotate: -5deg;
}
header img:hover {
    scale:1.5
}

header img {
    transition: 0.2s;
    filter: drop-shadow(5px 5px black);
}

header img:nth-child(even) {
    rotate: 5deg
}

header img:nth-child(odd) {
    rotate: -5deg
}

:root {
    --container: 600px
}

iframe {
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#buttonContainer {
    height: 300px;
    width: 500px;
    padding-left: 20px
}

.button {
    position: absolute;
    border: 5px double black;
    border-radius: 10px;
    padding: 7px;
    background-color: white;
    transition: 0.2s filter, 0.2s scale;
    filter: drop-shadow(2px);
    width: 100px;
    user-select: none;
    font-family: "toshiba";
    opacity: 0;
  white-space: nowrap;
}

.button:hover {
    filter: drop-shadow(5px 5px black);
    scale: 1.2;
    z-index: 99;
    cursor: grab;
}

.button:active {
    cursor: grabbing
}

.jitter-letter {
    display: inline-block;
    position: relative;
    will-change: transform;
}

#header span {
    display: inline-block;
}