/*The css file for the animation of the index. */

nav a {
    animation:nav-fade 1.5s forwards;
    opacity:0;
}
@keyframes nav-fade {
    0% {
        opacity:0;
        top:-30px;
    }
    100% {
        top:0px;
        opacity:1
    }
}