/*The main css file for the designing and color of the index. */

body {
    background-color:#f78b50;
    font-weight:500
}
::selection {
    background-color:#6483ea;
    color:#a5fffd
}
.tooltip {
    outline: #f0e8d3 solid 3px;
    border:3px solid #624e4a;
    background-color: #f0e8d3;
    color: #624e4a;
    box-shadow:4px 4px #f78b50;
    border-radius:3px;
}
/*top navigation*/
nav a:nth-child(1) {
    background-color:#98cdf3;
    border:5px solid #4c72c3;
    animation-delay: 0.5s
}
nav a:nth-child(1) h1 {
    color:#4c72c3;
    -webkit-text-stroke: 5px #b4d7f8;
}
nav a:nth-child(1):hover h1 {
    -webkit-text-stroke: 8px #cee7fb;
}
nav a:nth-child(2) {
    background-color:#ffe877;
    border:5px solid #f8ae54;
    animation-delay: 1s
}
nav a:nth-child(2) h1 {
    color:#ed8147;
    -webkit-text-stroke: 5px #ffef9f;
}
nav a:nth-child(2):hover h1 {
    -webkit-text-stroke: 8px #fff8b9;
}
nav a:nth-child(3) {
    background-color:#b0ff77;
    border:5px solid #3cdf83;
    animation-delay: 1.5s
}
nav a:nth-child(3) h1 {
    color:#3cdf83;
    -webkit-text-stroke: 5px #c7ffa0;
}
nav a:nth-child(3):hover h1 {
    -webkit-text-stroke: 8px #ddffc5;
}
nav a:nth-child(4) {
    background-color:#fe88bb;
    border:5px solid #ed478c;
    animation-delay: 2s
}
nav a:nth-child(4) h1 {
    color:#ed478c;
    -webkit-text-stroke: 5px #ffa1ca;
}
nav a:nth-child(4):hover h1 {
    -webkit-text-stroke: 8px #ffc1dc;
}
nav a:hover {
    outline:2px solid #f0e8d3;
    cursor:help
}

/*section; welcome*/
.section {
    background-color: #f0e8d3;
    border:5px solid #624e4a;
    border-radius:20px;
    color:#64504c
}
.section h2 {
    font-size:25px;
    font-weight:600;
    color:#8d5454;
    margin-left:10px;
}
.section mark {
    background-color: #90e9c1;
    color:#245aac;
    font-weight:bold
}
.section i {
    color:#63a7b5
}
.hint {
    font-size:16px;
    color:#67938f
}
.section .img {
    border:5px solid #f0893b;
    background-color: #ffac59;
    
}
/*aside ; img*/ 
.aside {
    background-color:#fc9c5c;
    border-radius: 10px;
}

footer {
    color:#f0e8d3
}
footer a:hover {
    color:#ffc800;
    text-shadow:2px 2px #ea7e2c
}
hr {
    border:2px solid #f1b061;
    border-radius:20px;
    width:90%
}