/*The main css file for the general shape of the index. */

.tooltip {
    visibility: hidden;
    width: 120px;
    line-height: 20px;
    font-size: 21px;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transition:0.2s
}

:root {
    --container:calc(180px * 5)
}
#container {
    display:grid;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "section section aside"
    "section section aside"
    "footer footer footer"
    ;
}
nav {
    display:flex;
    gap:7px;
    grid-area:nav;
    margin-top:50px;
    justify-content: center;
}
nav a {
    border:5px solid black;
    padding:5px;
    height:190px;
    width:180px;
    position:relative;
    transition:0.2s margin-top;
    border-radius:2px
}
nav a h1 {
    position:absolute;
    bottom:0px;
    right:10px;
    font-size:25px
}
nav a:nth-child(even) {
    transform:skewY(-20deg);

}
nav a:nth-child(odd) {
    transform:skewY(20deg);
}
nav a:hover {
    margin-top:-30px;
}
section {
    grid-area:section;
    width:420px;
    margin-top:120px;
}
.section {
    box-sizing:border-box;
    border:5px solid black;
    padding:30px;
    font-weight:500;
}
.section h2:after {
    content:" to Vielleicht."
}
.section:hover h2:after {
    content:", perhaps?"
}
.section .img {
    border:4px solid black;
    width:100%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    height:100px;
    border-radius:20px;
}
aside {
    grid-area:aside;
    width:420px;
    margin-top:50px;
}
.aside {
    width:100%;
    height:500px;

}
footer {
    grid-area:footer;
    text-align:center;
}