/*The main css file for the updates iframe... */

html {
    scroll-behavior: smooth;
}
body {
    background-color:#f0e8d3;
    color:#624e4a;
}
main {
    padding:20px;
    padding-top:0
}
h3 {
    font-size:24px;
    font-weight:600
}

hr {
    border:2px solid #624e4a;
    border-radius:20px;
}
article:hover {
    cursor:pointer
}
article {
    font-size:16px
}
a {
    text-decoration: none;
}
p {
    font-size:14px
}
