@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
    --container:700px;
}
.tooltip {
    visibility: hidden;
    width: 120px;
    line-height: 20px;
    font-size: 21px;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transition:0.2s

}
  .rose {
    font-family:"Schoolbell";
    font-size:22px
}
main {
    border:5px solid black;
    padding:20px;
    display: grid;
    grid-template-areas:
    "section aside"
    "footer footer";
    gap:5px;
    border-radius: 20px;
}
section {
    grid-area:section;
    width:50%;
    padding:10px;
    border-radius: 10px;
}
h1 {
    font-size:24px;
    font-weight: 600;
}
p img {
    width:88px;
    height:31px;
    background-color: #37164f;
}
aside {
    grid-area:aside
}
footer {
    text-align: center;
    grid-area:footer
}